table {
	border:4px solid maroon;
}
td:hover {
	background-color:white;
	color:darkorange;
}
tr,th {
	background-color:darkorange;
	color:darkyellow;
}
tr, td {
	background-color:darkyellow;
	color:darkgreen;
}
